<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="7777" />
    <add key="StartGameCommand" value="Start" />
    <add key="LeaveGameCommand" value="Leave" />
    <add key="PassedGameCommand" value="Passed" />
    <add key="SyncGameCommand" value="Sync" />
    <add key="StartTurnGameCommand" value="TurnStart" />
    <add key="TurnWaitGameCommand" value="TurnWait" />
    <add key="TurnEndGameCommand" value="TurnEnd"/>
    <add key="ConnectionLost" value="NetLost"/>
    <add key="LostRoundCommand" value="LostRound"/>
    <add key="WinRoundCommand" value="WinRound"/>
    <add key="LostGameCommand" value="LostGame"/>
    <add key="WinGameCommand" value="WinGame"/>
    <add key="IsGood" value="Good"/>
  </appSettings>
</configuration>